/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";

.Title{
    margin-bottom: 30px;  
}

.player_table > a{
    margin-bottom: 10px;
}
.header_player_table{
    color:white;
}
.Img_color{
    width: 20px;
    margin-left: 10px;
    margin-bottom: 3px;
}

.btn-show-player{
    margin-bottom: 10px;
}
.container_pagination{
    text-align: right;
}

.round_img_color{
    display:inline;
    position: absolute;
    right: 0px;
}


.text_card_round{
    display:inline;
    padding:1%;
    color:#3c4a61;
}
.btn-link .text_card_round:first-child{
    padding-left: 0px;
    padding-right: 20px;
}
h5{
    position: relative;
}
.pagination{
    padding: 4px;

    display: inline-block;
    margin: 10px 0px;
}
.btn-new-player{
    margin-top:10px;
}
//****** changes in bootstrap

.btn-link{
    text-decoration: none !important;
}
.card-header {
    padding: 0.20rem 1.25rem !important;
}
.card-body {
    padding: 0 !important;
}
.table th, .table td {
    padding: 0.35rem 0.85rem !important;
}
.table{
    margin-bottom: 0px !important;
}